# ====================== 【第一层 C++高性能网关配置】 ======================
GATEWAY_LISTEN_PORT=8080
GATEWAY_MAX_QPS=1000
VECTOR_SKIP_PROXY=true
GATEWAY_TIMEOUT_MS=30000
MAX_CONN_NUM=10000

# ====================== 【第二层 Django业务调度持久层】 ======================
DJANGO_LISTEN_PORT=8000
DJANGO_SECRET_KEY=CHANGE_ME_DJANGO_SECRET
DJANGO_DEBUG=false
# MySQL 结构化持久数据库
MYSQL_ROOT_PASSWORD=CHANGE_ME_DB_PWD
MYSQL_DATABASE=rag_platform
MYSQL_HOST=mysql
MYSQL_PORT=3306
# Redis 会话缓存、异步任务队列
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME_REDIS_PWD
REDIS_SESSION_EXPIRE=7200

# ====================== 【第三层 LLM & Milvus向量库 & Agent引擎】 ======================
AGENT_LISTEN_PORT=8001
# 硅基流动API配置，永久免费Qwen2.5-7B-Instruct
LLM_API_KEY=CHANGE_ME_SILICONFLOW_SK
LLM_BASE_URL=https://api.siliconflow.cn/v1
LLM_TIMEOUT_SEC=30
MILVUS_HOST=milvus
MILVUS_PORT=19530
MILVUS_DB_NAME=rag_vector_db
DEFAULT_TOP_K=5
CHUNK_MODE=llm_semantic
# 开发调试永久免费模型
LLM_MODEL=Qwen2.5-7B-Instruct
# 后期需要强能力切换GLM-5.2
# LLM_MODEL=GLM-5.2

# ====================== 【第四层 离线评测模块】 ======================
TEST_BATCH_SIZE=200
TARGET_ACC_UP=28
EVAL_DJANGO_BASE_URL=http://django_backend:8000
EVAL_GATEWAY_BASE_URL=http://cpp_gateway:8080

# ====================== 容器对外端口、持久化卷（compose 内置卷名） ======================
NGINX_HTTP_PORT=80
